<div id="page-404" class="valign-center">
    <div class="content-404 ta-center">
        <h1>{{ 'general.404.title' | t }}</h1>
        <br>
        <a class="text-link" href="/">{{ 'general.404.back' | t }}</a>
    </div>
</div>